<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="AllianceCraft - Bot Discord" />
    <meta property="og:description" content="Veja o status, sua transcrições aqui!" />
    <meta property="og:image" content="https://alliancecraft.com.br/uploads/0ad6b5591738dc7284804c1c3016460064673735logo.webp" />
    <meta property="og:url" content="https://bot.alliancecraft.com.br/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="AllianceCraft" />
    <title>AllianceCraft - Bot</title>
    <link rel="stylesheet" href="https://cdnalc.pages.dev/css/bot_index.css">
    <script src="https://cdnalc.pages.dev/js/bot_status.js"></script>
</head>
<body>

<nav class="navbar">
    <div><strong>AllianceCraft</strong></div>
    <ul>
        <li><a href="#">Bot</a></li>
        <li><a href="/transcripts">Transcrição</a></li>
        <li><a href="https://alliancecraft.com.br">Fórum</a></li>
        <li><a href="https://dc.alliancecraft.com.br">Discord</a></li>
        <li><a href="https://loja.alliancecraft.com.br">Loja</a></li>
        <li><a href="#">Sobre</a></li>
    </ul>
</nav>

<div class="container">
    <div class="profile" id="botInfo">
    </div>

    <div class="section" id="systemInfo">
    </div>

    <div class="section">
        <h3>Clusters</h3>
        <div id="clusters" class="clusters"></div>
    </div>
</div>
</body>
</html>
